
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 33px;
	padding-top: 20px;
	font-family: '宋体';
	color: #333;
}
.update_name{
	/* padding-top: 30px; */
}
.update_name>span {
	-webkit-background-clip: text;
	color: transparent;
	background-image: linear-gradient(to right, #06263D, red, #045D97, #06263D, #045D97, red,
		#06263D);
}

.update_wrap:hover{
	background: rgba(255, 255, 255, 0.888);
	z-index: -10;
}

.update_wrap {
	/* padding: 30px; */
	padding:66px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.back_login{
text-align:center;
	padding-top: 10px; 
}

.input_item {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.5px solid #ccc;
}

.input_item>span {
	display: flex;
}

.input_item>input {
	width: 100%
}

.bottom_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}



.update_btn {
	margin-top: 20px;
	border-radius: 20px;
	width: 100%;
	font-weight: 600;
}

.input_item_wrap {
	outline: 0px;
	background: none;
	border: none;
	background: none;
	font-size: 18px;
	margin: 10px;
}

.label {
	color: #111;
	font-size: 20px;
}
.update_label{
	font-size:30px;
	color: #111;
	font-weight: 600;
}
.help_btn{
	font-size: 13.333px; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}
.forget_pwd{

}
.forget_pwd>a{
	margin: 0;
	padding: 0;
}
.update{

}
.update>a{
	margin: 0;
	padding: 0;
}
.change_update:hover{
	cursor: pointer;
	opacity: 1;
}
.change_update{
	position: absolute;
	top: 0;
	right: -15px;
	font-size: 13px;
	background:#045D97;
	opacity:0.888;
	color: #fff; 
	padding: 4px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	
}
.change_update::before {
	content: ''; 
    position: absolute;
    right:0;
    bottom: -15px;  
    border-top:15px solid #045D97; 
    border-right: 15px solid transparent;
    z-index: 999;
}
.input_wrap{
	
	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap:20px;
}